
<h1><%= @question.title %></h1>
<p><strong>Author: </strong><%= @question.asker.username %></p>
<p><%= @question.content %></p>
  <h2>Add a Comment</h2>
  <%= render 'comments/form' %>


<% if @question.asker == @user %>
  <%= link_to("Edit Question", edit_question_path(@question)) %>
<% end %>
<br><br>

  <h2>Answers:</h2>
  <div id="answer_list">
    <%= render @question.answers %>
  </div>

  <h2>Add an Answer</h2>
  <%= render 'answers/form' %>


<%= form_tag("/questions", :controller=>"users", :method=>"get") do %>
  <%= submit_tag "Back" %>
<% end %>
