
<div id="answer_<%=answer.id%>">
  <div class="answer_vote_count">
    <%= render 'count ' %>
  </div>
  <div class="answer_body">
    <strong>Author: </strong><%= answer.answerer.username %><br>
    <strong>Answer: </strong><%= answer.content %><br>
    <% if answer.answerer == @user %>
    <%= link_to("Edit Answer", edit_question_answer_path(@question, answer)) %>
    <% end %>
    <br>
  </div>
</div><br>
