
<div id="answer_<%=answer.id%>">
  <div class="answer_vote_count">
    <a href="#" class="glyphicon glyphicon-chevron-up answer_up"></a>
    <p><%= answer.total_votes %></p>
    <a href="#" class="glyphicon glyphicon-chevron-down answer_down"></a>
  </div>
  <div class="answer_body">
    <strong>Author: </strong><%= answer.answerer.username %><br>
    <strong>Answer: </strong><%= answer.content %><br>
    <% if answer.answerer == @user %>
    <%= link_to("Edit Answer", edit_question_answer_path(@question, answer)) %>
    <% end %>
    <br>
  </div>
</div><br>
