<a href="/questions/<%=@question.id%>/answers/<%= @answer.id %>/answervoteup" class="glyphicon glyphicon-chevron-up answer_up"></a>
<p><%= @answer.total_votes %></p>
<a href="/questions/<%=@question.id%>/answers/<%= @answer.id %>/answervotedown" class="glyphicon glyphicon-chevron-down answer_down"></a>
