<a href="/questions/<%=@question.id%>/answers/<%= @answer.id %>/voteup" class="glyphicon glyphicon-chevron-up question_up"></a>
<p><%= @question.total_votes %></p>
<a href="/questions/<%=@question.id%>/answers/<%= @answer.id %>/votedown" class="glyphicon glyphicon-chevron-down question_down"></a>
